* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  /* bg colors */
  --bg-color-main: #000;
  --bg-color-second: #2a2a2a;
  --bg-modal: #878787;
  --bg-modal-stroke: rgba(252, 236, 190, 0.6);

  --btn-bg-color: #a5a5a3;
  --btn-bg-color-action: rgba(196, 196, 196, 0.6);
  --input-bg-color: #7d7d7d;
  --input-second-bg-color: #c4c4c4;

  /* font colors */
  --font-accent-color: #a5a5a3;
  --font-color: rgba(165, 165, 163, 0.6);
  --font-color-input: #2a2a2a;

  --btn-font-color: #fcecbe;
  --btn-cancel-color: #ff0000;
  --input-font-color-primary: rgba(42, 42, 42, 0.9);
  --input-font-color-second: rgba(252, 236, 290, 0.9);

  /* other colors */
  --logo-color: #fce2be;
  /* --hover-color: #ffc676; */
  --hover-color: #a5a5a3;

  /* font-size */
  --font-size-base: 14px;

  /* radii */
  --radii-main: 30px;
  --radii-input: 5px;

  /* other */
  --font-family-root: "Average Sans", sans-serif;
  --font-family-logo: "Julius Sans One", sans-serif;
  font-weight: 400;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: dark;
}

body {
  background-color: var(--bg-color-main);
  padding: 2rem 2rem 0;
  min-height: calc(100vh - 4rem);
  outline: 1px solid yellow;
  text-align: center;

  /* display: flex; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  /* place-items: center; */
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  cursor: pointer;

  /* text-decoration: underline; */
  /* text-decoration-color: var(--bg-color); */
}

button {
  border: none;
  background-color: transparent;
}

.button {
  cursor: pointer;
  color: var(--btn-font-color);
  background-color: var(--btn-bg-color);
  font-size: 1.25rem;
  border: none;
  border-radius: var(--radii-main);
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.25rem;
  /* width: 274px; */
  padding: 7px;
  /* transition: border-color 0.25s; */
}
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input,
textarea {
  padding: 5px 10px;
  color: var(--input-font-color);
  background-color: var(--input-second-bg-color);
  border: none;
  border-radius: var(--radii-input);
}

.container {
  min-width: 335px;
  /* outline: 1px solid green; */
  /* min-height: calc(100vh); */

  /* background-color: var(--bg-color-second); */
  /* border-radius: var(--radii-main); */
  /* margin: 1rem 2rem; */
}

/* prefers-color-sche - для определения стилей, которые применяются, когда пользователь предпочитает светлую цветовую схему в настройках своей операционной системы или браузера */

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background-color: #ffffff; */
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
