* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  /* bg colors */
  --bg-main-color: #000;
  --bg-color: #2a2a2a;
  --btn-bg-color: #a5a5a3;
  --btn-bg-color-action: rgba(196, 196, 196, 0.6);
  --input-bg-color: #7d7d7d;
  --input-second-bg-color: #c4c4c4;

  /* font colors */
  --font-accent-color: #a5a5a3;
  --font-color: rgba(165, 165, 163, 0.6);
  --btn-font-color: #fcecbe;
  --btn-cancel-color: #ff0000;
  --input-font-color-primary: rgba(42, 42, 42, 0.9);
  --input-font-color-second: rgba(252, 236, 290, 0.9);

  /* other colors */
  --logo-color: #fcecbe;

  /* font-size */
  --font-size-base: 14px;

  /* radii */
  --radii-main: 30px;
  --radii-input: 5px;

  /* other */
  font-family: "Average Sans", sans-serif;
  --font-family-logo: "Julius Sans One", sans-serif;
  font-weight: 400;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: dark;
}

body {
  background-color: var(--main-background-color);
  /* display: flex; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  /* place-items: center; */
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-color: var(--bg-color);
}

button {
  cursor: pointer;
  color: var(--btn-font-color);
  background-color: var(--btn-bg-color);
  font-size: 1.25rem;
  border: none;
  border-radius: var(--radii-main);
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.25rem;
  /* transition: border-color 0.25s; */
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

input,
textarea {
  padding: 5px 10px;
  color: var(--input-font-color);
  background-color: var(--input-second-bg-color);
  border: none;
  border-radius: var(--radii-input);
}

/* prefers-color-sche - для определения стилей, которые применяются, когда пользователь предпочитает светлую цветовую схему в настройках своей операционной системы или браузера */

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background-color: #ffffff; */
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
